/Project.wsdt
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.crun
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.dbgdt
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.dnx
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.cspy.bat
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.cspy.ps1
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.driver.xcl
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.general.xcl
/triceDemo_NUCLEO-F030RB_LL_IAR_EWARM_triceDemo_NUCLEO-F030RB_LL_IAR_EWARM.jlink
