name: Go

on:
  # push:
  #   tags:
  #   - '*'
  #   # branches: [ $default-branch ]
  # pull_request:
  #   branches: [ $default-branch ]
  workflow_dispatch:

jobs:

  job1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: shogo82148/actions-goveralls@v1
      with:
        # path-to-profile: coverage.out
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x

    - name: Check
      run: go vet -v ./...

    # - name: Test
    #   run: go test ./internal/...

    - name: Build
      run: go build -v ./...

