name: Go

on:
  # push:
  #   tags:
  #   - '*'
  #   # branches: [ $default-branch ]
  # pull_request:
  #   branches: [ $default-branch ]
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: shogo82148/actions-goveralls@v1
      with:
        # path-to-profile: coverage.out
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.0'
        check-latest: true

    - name: Show Go version
      run: go version

    # Disabled due to https://github.com/golang/go/issues/41205#issuecomment-692862157
    # - name: Check
    #   run: go vet -v ./...

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
