# https://docs.github.com/en/actions/learn-github-actions/introduction-to-github-actions
name: learn-github-actions
on: [workflow_dispatch]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install -g bats
      - run: bats -v